@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Manrope;
  src: url('./fonts/manrope/Manrope-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url('./fonts/manrope/Manrope-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url('./fonts/manrope/Manrope-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url('./fonts/manrope/Manrope-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
